@import "../../../assets/scss/style.scss";

.disclaimer-modal {
  .ant-modal-content {
    padding: 35px !important;
    .ant-modal-body {
      padding: 0;
      .description-text {
        background: rgba($secondary-color, 0.6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 25px 35px;
      }
      h2 {
        font-weight: bold;
        margin-bottom: 20px;

        .dark-mode & {
          color: $white;
        }
      }
      p {
        font-weight: 400;
        text-align: justify;
        font-size: 14.5px;
        .dark-mode & {
          color: $white;
        }
      }
      h3 {
        color: $secondary-color;
        font-size: $font-size-base;
        margin-top: 15px;
        margin-bottom: 12px;
      }
      .ant-checkbox-wrapper {
        font-size: $font-size-base;
        .dark-mode & {
          color: $white;
        }
        .ant-checkbox {
          &::after {
            border: 0;
          }
          .ant-checkbox-inner {
            margin-top: -15px;
            background: none;
            width: 15px;
            height: 15px;
            border-radius: 1px;
            &::after {
              border-width: 1px;
              width: 4.5px;
              height: 7.2px;
            }
          }
          &.ant-checkbox-checked {
            .ant-checkbox-inner {
              background: $secondary-color;
              border-color: $secondary-color;
            }
          }
        }
      }
      .agree-btn {
        padding-top: 18px;
        .ant-btn {
          padding: 0 80px;
        }
      }
    }
  }
  .text-center {
    font-weight: 700;
  }
}
