@import "../../../assets/scss/style.scss";

.earn-deposite-card {
  padding: 40px 25px 35px 25px;
  border-radius: $base-border-radius;
  background: $background-light;
  box-shadow: $box-shadow-inner-light;
  border: 0.5px solid $border-color-base;

  .dark-mode & {
    background-color: $secondary-color-light;
    box-shadow: none;
  }
  .input-select {
    small {
      .dark-mode & {
        color: #fff;
      }
    }
  }
  .interest-rate-container {
    padding: 0 0 0 5px;
    .row {
      justify-content: space-between;
      .dark-mode & {
        color: white;
      }
      .title {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 12px;
      }
      .value {
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
  .svg-icon-inner {
    span {
      margin-left: 10px;
    }
  }
  .assets-select-wrapper .assets-select .ant-select-selector {
    border: none;
  }
}
.earn-main-deposite {
  padding: 10px 25px 15px 25px !important;
}

.locker-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 15px 10px;
  .dark-mode & {
    color: #fff;
  }
}
.withdraw-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 15px 0;
  .dark-mode & {
    color: #fff;
  }
}

.calculator-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 15px 0px;
  .dark-mode & {
    color: #fff;
  }
}
