@import "../../../assets/scss/style.scss";

.earn-main-container {
  height: 100%;
  .farm-modal-tab {
    height: 100%;
    .ant-tabs-content-holder {
      height: 100%;
      .ant-tabs-content {
        height: 100%;
        .col {
          height: 100%;
          .locker-close-card {
            // height: 100%;
            .locker-close-card-details {
              background-color: transparent;
              box-shadow: none;

              .assets-left {
                .leftlabel {
                  font-size: 1.1rem;
                  letter-spacing: 1px;
                  font-weight: 500;
                  .dark-mode & {
                    color: white;
                  }
                }
              }
              .assets-right {
                .label-right {
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 960px) {
    flex-direction: column;
  }
}
.earn-deposite-card {
  padding: 40px 25px 35px 25px;
  border-radius: $base-border-radius;
  background: $background-light;
  box-shadow: $box-shadow-inner-light;
  .dark-mode & {
    background-color: $secondary-color-light;
    box-shadow: none;
  }
  .input-select {
    small {
      .dark-mode & {
        color: #fff;
      }
    }
  }
  .Interest-rate-container {
    padding: 0 0 0 5px;
    .row {
      justify-content: space-between;
      .dark-mode & {
        color: white;
      }
      .title {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 12px;
      }
      .value {
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
  .svg-icon-inner {
    span {
      margin-left: 10px;
    }
  }
}
.calculator-main-container {
  margin-top: 47px;
  height: calc(100% - 14%);
  padding: 10px 25px 25px 25px !important;
  border: 0.5px solid $border-color-base;
  @media only screen and (max-width: 960px) {
    flex-direction: column;
    margin: 55px 13px 0 13px;
  }

  .calculator-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    .content-container {
      display: flex;
      justify-content: space-between;
      row-gap: 2rem;
      align-items: center;
      .left-container {
        font-size: 14px;
        font-weight: 600;
      }
      .right-container {
        font-size: 14px;
        font-weight: 600;
        .input-container {
          display: flex;
          column-gap: 10px;
          .ant-input {
            background: rgba($secondary-color, 0.3) !important;
            .dark-mode & {
              background: #3c324c !important;
            }
          }
          .year-container {
            position: relative;
            &::before {
              content: "Years";
              display: block;
              top: -30%;
              left: 0;
              position: absolute;
              font-size: 10px;
              font-weight: 300;
            }
          }
          .month-container {
            position: relative;
            &::before {
              content: "Months";
              display: block;
              top: -30%;
              left: 0;
              position: absolute;
              font-size: 10px;
              font-weight: 300;
            }
          }
          .day-container {
            position: relative;
            &::before {
              content: "Days";
              display: block;
              top: -30%;
              left: 0;
              position: absolute;
              font-size: 10px;
              font-weight: 300;
            }
          }
          .ant-input {
            border: 0;
            font-size: 1.3rem;
            line-height: 1;
            margin-top: 8px;
            text-align: right;
            max-width: 200px;
            margin-bottom: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: $text-color-dark2;
            padding-right: 5px;
            max-width: 100px;
            background: $background-dark1;

            &::-webkit-placeholder {
              color: $text-color-dark2;
            }

            &::placeholder {
              color: $text-color-dark2;
            }

            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              -moz-appearance: none;
            }

            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              -moz-appearance: none;
            }

            &[type="number"] {
              -moz-appearance: textfield;
            }

            .dark-mode & {
              color: $white;
              background-color: $background-dark2;

              &::-webkit-placeholder {
                color: $white;
              }

              &::placeholder {
                color: $white;
              }
            }
          }
        }
      }
    }
    .time-content-container {
      @media only screen and (min-width: 986px) and (max-width: 1260px) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
      }

      .right-container {
        @media only screen and (min-width: 986px) and (max-width: 1260px) {
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }
      }
    }
  }
}

.locker-withdraw {
  .withdraw-main-container {
    .withdraw-content-container {
      display: flex;
      flex-direction: column;
      .withdraw-stats-container {
        display: flex;
        justify-content: space-between;
        .withdraw-stats {
          .stats-title {
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: 400;
            .dark-mode & {
              color: #fff;
            }
          }
          .stats-value {
            font-size: 18px;
            font-weight: 600;
            .dark-mode & {
              color: #fff;
            }
          }

          .maxhalf {
            display: flex;
            align-items: center;
            margin-left: 4px;

            .ant-btn {
              font-size: $font-size-sm - 1;
              padding: 1px 0;
              margin-left: 4px;
              line-height: 1;
              text-align: center;
              width: 30px;
              height: 15px;
              border: 0;
              cursor: pointer;
              border-radius: 2px;
              background: #fff;
              text-transform: capitalize;
              .dark-mode & {
                background: #132239;
                color: $white;
              }

              &.active {
                background: rgba($secondary-color, 0.5);
                color: white;
                .dark-mode & {
                  background: $secondary-color;
                }

                span {
                  .dark-mode & {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
      .available-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        .available-title {
          font-size: 15px;
          font-weight: 400;
          letter-spacing: 0.6px;
          .dark-mode & {
            color: #fff;
          }
        }
        .available-input {
          .input-select {
            position: relative;
            .ant-input {
              border: 0;
              font-size: 1.3rem;
              line-height: 1;
              margin-top: 8px;
              text-align: right;
              max-width: 200px;
              margin-bottom: 0;
              appearance: none;
              color: #03253e;
              padding-right: 0;
              max-width: 130px;
              background: rgba($secondary-color, 0.3);
              padding-right: 53px;
              .dark-mode & {
                background: $background-dark2;
                border-color: $border-input-light;
                color: $text-color-label-dark;
              }
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                margin: 0;
                display: none;
              }
            }
            .denom-name {
              color: #000;
              position: absolute;
              right: 4px;
              font-size: 15px;
              font-weight: 600;
              top: 17px;

              .dark-mode & {
                color: #fff;
              }
            }
          }
        }
      }
      .withdraw-slider {
        .slider-numbers {
          .comdex-slider {
            margin-top: 15px;
            width: 100%;
            margin-bottom: 0;
            .ant-slider-rail {
              background: #5d6a82;
              height: 5px;
            }
            .ant-slider-track {
              background: $secondary-color;
              height: 5px;
            }

            .ant-slider-handle {
              background-color: $white;
              border: 3px solid $secondary-color;
              @media screen and (max-width: 991px) {
                display: block;
              }
            }
            .ant-slider-step {
              .ant-slider-dot {
                width: 1px;
                height: 6px;
                border: 0;
                top: -6px;
                background: $silver-color;
                display: none;
                &.ant-slider-dot-active {
                  background: #13a356;
                }
                &:first-child {
                  margin-left: 0;
                }
                &:nth-child(2) {
                }
                &:last-child {
                  margin-left: -1px;
                  left: 100% !important;
                }
              }
            }

            .ant-slider-mark {
              top: 15px;
              span {
                font-size: $font-size-sm - 2;
                font-weight: 300;

                .dark-mode & {
                  color: $white;
                }
              }
              span:nth-child(1) {
                left: 0% !important;
              }
              span:nth-child(2) {
                left: 98% !important;
              }
            }
          }
        }
      }
    }
  }
  .alert-label {
    position: absolute;
    width: 220px;
    right: 0;
    text-align: right;
    .dark-mode & {
      color: #fff;
    }
  }
  .reward-claim-main-container-btn {
    display: flex;
    justify-content: flex-start;
  }
}
