@import "../../assets/scss/variables.scss";

.borrw-content-card {
  background: rgba($secondary-color, 0.3);
  padding: 35px;
  border-radius: $base-border-radius + 5;
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 25px 20px;
  }
  .dark-mode & {
    background: $background-dark1;
    border: 1px solid $border-dark;
  }
  .borrow-tab-head {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    .head-icons {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      padding: 1px;
      background: $primary-gradient;
      margin-right: 10px;
      .head-icons-inner {
        width: 100%;
        height: 100%;
        background: $background-light;
        border-radius: 100%;
        .dark-mode & {
          background: $background-dark1;
        }
        .icon {
          width: 100%;
          height: 100%;
          padding: 4px;
        }
      }
    }
    .righttext {
      padding-left: 10px;
      h3 {
        margin-bottom: 4px;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1;
        .dark-mode & {
          color: $text-color-light;
        }
      }
      p {
        margin-bottom: 0;
        font-size: $font-size-base - 1;
        .dark-mode & {
          color: $white;
        }
      }
    }
  }
}

.borrw-content-wapper {
  .borrowcard-header {
    background: $background-light;
    padding: 15px;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow-inner-light;
    position: relative;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    .dark-mode & {
      background: $background-dark1;
      border: 1px solid $border-dark;
      box-shadow: $box-shadow-inner-dark;
    }
    .head-colums {
      text-align: center;
      .head-icons {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        padding: 1px;
        background: $primary-gradient;
        margin: auto;
        .head-icons-inner {
          width: 100%;
          height: 100%;
          background: $background-light;
          border-radius: 100%;
          text-align: center;
          .dark-mode & {
            background: $background-dark1;
          }
          .icon {
            width: 100%;
            height: 100%;
            padding: 4px;
            fill: $black;
            .dark-mode & {
              fill: $white;
            }
          }
        }
      }
      &:nth-child(1),
      &:nth-child(2) {
        .head-icons {
          .head-icons-inner {
            .icon {
              max-width: 80%;
              margin: auto;
            }
          }
        }
      }
      label {
        font-size: $font-size-sm;
        color: $text-color-light2;
        margin-bottom: 0;
        line-height: 1;
        margin-top: 2px;
        .dark-mode & {
          color: $text-color-light;
        }
      }
      p {
        margin-bottom: 0;
        line-height: 1;
        font-size: $font-size-base;
        .dark-mode & {
          color: $white;
        }
      }
    }
  }
  .borrowcard-content {
    background: $background-light;
    padding: 35px;
    border-radius: $base-border-radius + 5;
    box-shadow: $box-shadow-inner-light;
    position: relative;
    .dark-mode & {
      background: $background-dark1;
      border: 1px solid $border-dark;
      box-shadow: $box-shadow-inner-dark;
    }
    .assets-select-card {
      align-items: center;
      .ant-select {
        font-size: $font-size-lg + 1;
      }
    }
    .assets-select-input {
      margin-top: 0 !important;
    }
  }
}

.slider-numbers {
  // display: flex;
  .comdex-slider {
    margin-top: 40px !important;
  }

  .slider-input-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 13px;
      padding: 0;
    }
    .input-box-container {
      .ant-input {
        margin-bottom: 0;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        font-weight: 300;
        max-width: 77px;
        padding: 0 25px 0 10px;
        text-align: center;
        font-size: $font-size-lg + 3;
        border: none;
        background: rgba($secondary-color, 0.3);

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          display: none;
          margin: 0;
        }
        .dark-mode & {
          background: rgba($secondary-color, 0.2);
          border-color: #18305a;
          color: $white;
        }
      }
      .collateral-percentage {
        margin-left: -22px;
        margin-top: -9px;
        padding-right: 0;
        position: relative;
        font-size: 20px;
        .dark-mode & {
          color: $white;
        }
      }
      .liquidation-price {
        .dark-mode & {
          color: white;
        }
      }
    }
  }
}

.slider-bar {
  label {
    margin-bottom: 10px;
    display: block;
    .dark-mode & {
      color: $text-color-label-dark;
    }
  }
}

.borrow-edit-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 420px;
  margin: auto;
  .borrowedithead-colum:nth-child(2) {
    padding-left: 10px;
  }
  .borrowedithead-colum {
    width: 100%;
    label {
      margin-bottom: 10px;
      display: block;
      font-size: $font-size-base + 1;
      .dark-mode & {
        color: $text-color-label-dark;
      }
    }
    .assets-col {
      display: flex;
      align-items: center;
      .assets-icons {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        padding: 0.65px;
        .assets-icons-inner {
          width: 100%;
          height: 100%;
          background: $background-select-hover-dark;
          border-radius: 100%;
          padding: 2px;
          .dark-mode & {
            background: $white;
          }
          .icon {
            width: 100%;
            height: 100%;
          }
        }
      }
      h2 {
        font-size: 1.3rem;
        margin-bottom: 0;
        font-weight: 400;
        padding-left: 6px;
        .dark-mode & {
          color: $white;
        }
      }
    }
  }
}

.brrow-edit-form {
  margin-top: 20px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  .slider-numbers {
    h2 {
      margin-top: -8px;
    }
  }
  label {
    padding-left: 8px;
    margin-bottom: 5px;
    display: block;
    .dark-mode & {
      color: $text-color-label-dark;
    }
  }
  .ant-input {
    border: 0.8px solid #123c73;
    border-radius: 6px;
    text-align: right;
    height: 48px;
    padding: 0 10px;
    background: rgba($secondary-color, 0.2);
    font-size: $font-size-lg + 4;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
      margin: 0;
    }
    .dark-mode & {
      background: $background-dark1;
      color: $white;
    }
  }
  .label_max_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1px;
    color: $secondary-color;
    .dark-mode & {
      color: #fff;
    }
    .maxhalf {
      margin-top: -27px;
      button {
        background-color: $secondary-color;
        color: $white;
        border: none;
        border-radius: 5px;
        top: 10px;
        height: 25px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .ml-1 {
      cursor: pointer;
    }
    .available {
      color: black;
      font-weight: 500;
      .dark-mode & {
        color: $secondary-color;
      }
    }
  }
}
.mint-table {
  .assets-withicon {
    font-weight: 600;
  }

  .endtime-badge {
    background: transparent;
    color: #fff;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 10px;
  }
  .valult-mint-btn {
    font-weight: 500;
    font-size: 14px !important;
    padding: 5px 25px !important;
    letter-spacing: 1.2px;
  }
}
.close-tab-content {
  .dark-mode & {
    color: $text-color-label-dark;
  }
  .close-tab-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
  }
}

.vault-mint-main-container {
  .card-main-container {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
    .card-container {
      background: white;
      padding: 25px 25px;
      border-radius: $base-border-radius;
      box-shadow: $box-shadow-inner-light;
      border: 1px solid $border-color-base;
      flex-basis: 30%;
      @media only screen and (min-width: 1000px) and (max-width: 1300px) {
        flex-basis: 45%;
      }
      @media only screen and (max-width: 972px) {
        flex-basis: 45%;
      }
      @media only screen and (max-width: 720px) {
        flex-basis: 100%;
      }
      .dark-mode & {
        background: $background-dark2;
        box-shadow: none;
      }
      &:hover {
        background: rgba($secondary-color, 0.3);
        border-color: rgb(199 194 226 / 30%);
        cursor: pointer;
        .dark-mode & {
          background: $secondary-color;
          border-color: $secondary-color;
        }
      }
      &:hover .tooltip-icon {
        fill: black;
        .dark-mode & {
          fill: white;
        }
      }

      .up-container {
        display: flex;
        column-gap: 10px;
        .icon-container {
          flex-basis: 20%;
          height: 5rem;
          @media only screen and (min-width: 620px) and (max-width: 720px) {
            height: auto;
          }
          @media only screen and (max-width: 619px) {
            height: 8rem;
          }
          @media only screen and (max-width: 490px) {
            height: 6rem;
          }
          @media only screen and (max-width: 380px) {
            height: 4rem;
          }
          .icon {
            width: 100%;
            height: 70%;
            border-radius: 50%;
          }
        }
        .vault-name-container {
          flex-basis: 80%;
          .vault-name {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            color: #000;
            margin-top: 12px;
            .dark-mode & {
              color: #fff;
            }
          }
          .vault-desc {
          }
        }
      }
      .bottom-container {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        .contenet-container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          color: #000;
          .dark-mode & {
            color: #fff;
          }
          .name {
            font-size: 13px;
          }
          .value {
            font-size: 11px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
.choose-vault {
  display: block;
  width: 100%;
  font-size: 20px;
  .dark-mode & {
    color: white;
  }
}
